<po-page-list>
  <h2>{{ modoEdicao ? 'Editar hierarquia' : 'Nova hierarquia' }}</h2>

  <br />

  <po-dynamic-form
    #dynamicForm
    p-auto-focus="estabelecimento"
    [p-fields]="fields"
    [p-value]="item"
    [p-load]="onLoadFields.bind(this)"
    [p-validate]="onChangeFields.bind(this)"
  ></po-dynamic-form>

  <div class="acoes">
    <po-button p-label="Cancelar" p-kind="primary" (click)="cancelar()" style="margin-right: 10px;"></po-button>
    <po-button p-label="Salvar" p-kind="primary" (p-click)="salvar()"></po-button>
  </div>
</po-page-list>
